{% extends '::base.html.twig' %}
{% block title %} Wellcome to Fancy Survey! {% endblock %}

{% block body %}
<h1 id="countdown"></h1>

<div id="register-container">

    {% include include %}

</div>

{% endblock %}